name: pasture-env
channels:
  - pytorch
  - conda-forge
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - numpy
  - pandas
  - pillow
  - matplotlib
  - jupyter
  - pip
  - pip:
      - tqdm
